@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IM+Fell+English&family=Roboto+Slab&display=swap');
.SUcontainer {
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
}
.signInContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-right: 6rem;
}

.sideImage{
    position: inherit;
    width: 50%;
    height: 100vh;
    overflow: hidden;

}

.sidePicImage{
    position: absolute;
    width: 90vh;
    height: 129vh;
    overflow: hidden;
    left: -53px;
    top: -12em;
}
.rightSideElements{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vh;
    height: 95vh;
    /* background-color: #F67280; */
}


.rightSideNavbar{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vh;
    margin-top: 4px;
    /* background-color: #FFEDED; */
}

.sideNavbar{
    color: black !important;
    font-family: 'Cutive Mono';
    font-size: 20px;
    font-weight: 400;
    text-decoration: none !important;
}

.sideNavbar:hover{
    color: #F67280 !important;
}

.LogoHeader{
    width: 60vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LogoPicHeader{
    width: 40vh;
}
.sideNavbar:hover{
    color: #F67280 !important;
}


.FormSignIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 70vh;
    /* background-color: burlywood; */
    /* background-color: aliceblue; */
    /* paddim-top: 4rem; */
}

.signInFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'IM FELL English';
    height: 40vh;
    width: 60vh;
    padding-top: 10px;
    /* background-color: bisque; */
    padding-bottom: 10px;
}


.signInformDetails{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;

}
.signInFormLabels{
    font-size: 1.25rem;
    width: 60vh;
    margin-top: 10px;
    margin-bottom: 5px;
}
.signInFormInputs{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000 !important;
    border-radius: 10px;
    outline: none;
    height: 1.5rem;
    width: 58vh;
    font-family: 'Roboto Slabs';
    padding-left: 10px;
    font-size: 15px;
    /* height: 1.75rem;
    width: 60vh;
    font-family: 'Roboto Slabs';
    font-size: 15px; */
}

.signInFormInputs:focus {
    box-shadow: 1px 2px 0px 0px #F67280;
}
.signInFormInputs:hover {
    box-shadow: 1px 2px 0px 0px 
    #35477d9f;
}
.signInFormSubmit{
    background: #FFEDED;
    border-radius: 10px;
    width: 25vh;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
    cursor: pointer !important;
    font-size: 18px ;
    color: #F67280;
    border: 1px solid #F67280;
}

.LinkRedirect{
    color: #6D1113 !important;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.25rem;
}

.LinkRedirect:hover{
    color: #F67280 !important;
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .rightSideElements{
        height: 100vh;
    }
    
    
    .rightSideNavbar{
        margin-top: 40px;
        /* background-color: #FFEDED; */
    }
    
    .sideNavbar{
        font-size: 30px;
        font-weight: 400;
    }
    .signInFormContainer{
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    .signInFormInputs{
        height: 2.5rem;
        width: 60vh;
        font-family: 'Roboto Slabs';
        font-size: 19px;
    }
    .signInFormLabels{
        width: 60vh;
        /* background-color: #F67280; */
        font-size: 1.55rem;
    }
    .signInFormSubmit{
        background: #FFEDED;
        border-radius: 10px;
        width: 25vh;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.55rem;
    }
    .LinkRedirect{
        font-size: 1.55rem;
    }
}