@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IM+Fell+English&family=Roboto+Slab&display=swap');

.container1 {
    /* margin: -1%; */
    overflow: hidden;
    font-family: 'Cutive Mono', monospace;
    background-color: #001220;
}
.heroContainer{
    height: 100%;
    width: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
}

.heroContainerUp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5%;
}

.heroContainerLeft{
    display: block;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-weight: 400;
    font-size: 4.75rem;
    line-height: 4rem;
    width: 87%;
    margin-bottom: 1%;
}

.button1{
    width: 55%;
    height: 15%;
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 44px;
    color: #F67280 !important;
    background: #FFEDED !important;
    border-radius: 50px;
    cursor: pointer;
}

.button1:hover{
    transition: 50ms ease-in-out;
    color: black !important;
    background-color: #F67280 !important;
    font-weight: bolder;

}

.button1Text{
    text-decoration: none;
    color: #F67280 !important;
}

.button1Text:hover{
    text-decoration: none;
    color: black !important;
    background-color: #F67280 !important;
}

.heroContainerRight{
    height: auto;
    align-items: center;
    justify-content: center;
}
.tupLogoPic{
    width: 18rem;
}

.heroWave{
    overflow: hidden;
    width: 99.7%;
    height: 5%;
    margin-top: 1%;
}


/* @media will be next! */

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .container1 {
        height: 100%;
        background-color: #001220;
        /* background-color: white; */
    }
    .heroContainer{
        height: 60vh;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
    }
    .heroContainerUp{
        gap: 5%;
        /* background-color: #FFEDED; */
        padding-bottom: 50px;
        padding-left: 1%;
        padding-right: 1%;
    }
    h1{
        font-size: 6.75rem;
        line-height: 5.7rem;
        width: 87%;
        margin-bottom: 2%;
    }
    .tupLogoPic{
        width: 25rem;
    }
}

/* Tablet Size Width */
@media screen and (min-width: 481px) and (max-width: 960px){
/* 
    .container1 {
        background-color: #F67280;
    } 
    
    */

    .heroContainerUp{
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5%;
    }

    .heroContainerLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: #F67280; */
        width: 95%;

    
    }

    h1{
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-align: center;
        align-content: center;
        margin-bottom: 5%;
    }
    .tupLogoPic{
        width: 11rem;
    }

    .button1{
        width: 65%;
        height: 9%;
        font-size: 1.2rem;
        line-height: 44px;
        margin: 10px;
    }
}