@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IM+Fell+English&family=Roboto+Slab&display=swap');

.container2{
    /* margin-top: 8%; */
    overflow: hidden;
    font-family: 'Cutive Mono', monospace;
    /* margin-bottom: 10%; */
    height: 77vh;
}

.part2Container{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    display:flex;
    width: max-content; /*Not sure kung babaguhin ko ito*/
    gap: 3%;
    justify-content: center;
    align-items: center;
}
.part2sidePic{
    width: 20%;
}

.Part2Right{
    display: table-cell;
    width: 100%;
}
.MainLine{
    font-size: 3.5rem;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
.MainLine1{
    display: flex;
    gap: 0.5%;
}

.MainLine2{
    display: flex;
    gap: 0.5%;
}


.part2Subline{
    display: flex;
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    gap: 0.5%;
}

.RedColor{
    color: #6D1113;
}

.BlueColor{
    color: #13266A;
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
    .container2 {
        height: 83vh;

    }
    .part2Container{
        height: 100%;
        padding-left: 3%;
        padding-right: 10%;
        padding-top: 0.54%;
        /* background-color: #FFEDED; */
    }
    .part2sidePic{
        width: 27%;
    }
    .MainLine{
        font-size: 5rem;
        margin-bottom: 20px;
    }
}

/* Tablet Size Width */

/* On going change for this one! */
@media screen and (min-width: 481px) and (max-width: 960px){
    
        .container2 {
            background-color: #F67280;
        } 
        .part2Container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            
        }
        .part2sidePic{
            /* height: 100px; */
            width: 50vh;
        }

        .MainLine{
            font-size: 2rem;
            margin-bottom: 5px;
        }
        /* .part2Container{
            display: flex;
            flex-direction: column;
            height: 100%; */
            /* padding-left: 3%;
            padding-right: 10%;
            padding-top: 0.54%; */
            /* background-color: #FFEDED; */
        /* } */
        /* .part2sidePic{
            width: 50%;
        }
        .MainLine{
            font-size: 2rem;
            margin-bottom: 5px;
        } */
    }