@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=IM+Fell+English&family=Roboto+Slab&display=swap');

.acontainer {
    overflow: hidden;
    min-height: 100vh;
    background-color: #001220;

}
.aboutcontainer{
    width: 100%;
    padding-top: 0;
    height: 100vh;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.aboutbox{
    position: relative;
    margin-right: 40vh;
    margin-left: 40vh;
    height: 60vh;
    background-color: white;
    top: -9vh;
    /* background-color: tomato; */
}

.whoContainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vh;
    padding: 20px;
    height: 50%;
}
.whoDescription{
    text-align: justify;
    text-align: justify;
    font-family: 'IM FELL English';
    font-size: 1.75rem;
    line-height: 35px;
}

.whoTitle{
    font-family: 'Cutive Mono';
    font-style: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 40px;
    text-align: right;
    color: #000000;
}
.whatContainer{
    background-color: #ffe4c4;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vh;
    padding: 20px;
    height: 55%;
}

.whatTitle{
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 40px;
    color: #000000;

}
.whatDescription{
    text-align: justify;
    font-family: 'IM FELL English';
    font-size: 1.35rem;
    line-height: 27px;
}
