.SocialIconsContainer{
    color: #001220;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    margin-top: 3px;
    margin-bottom: 20px;
    cursor: pointer;
}