.primary {
    background-color: #FFEDED;
    width: 213px;
    height: 54px;
    color: #F67280;
    font-size: 36px;
    border: 2px solid #F67280;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    border-radius: 50px;
    width: 100%;
    border: none;
  }
  
  .primary:hover {
    background-color: #ae1b33;
  }
  
  .secondary {
    background-color: #001220;
    width: 140px;
    height: 60px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    border: none;
  }
  
  .secondary:hover {
    text-decoration: underline;
  }