body{
    min-height: 100vh;
}
.container{
    margin-bottom: -50px;
    /* background-color: blue; */
    background-color: blueviolet;
    color: white;
    font-size: large;
    padding: 15px;
}

.sticky{
    position: sticky;
    top: 100%;
}

.footerIcons{
    /* background-color: pink; */
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.footerLinks{
    /* background-color:crimson; */
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.copyright{
    text-align: center;
}