.container {
    align-items: center;
  }

.navcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 87px;
  margin-right: 106px;
  margin-top: 26px;
}

  .navbarButtons {
    display: flex;
    gap: 60px;
  }